.tabby_tail__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
    padding: 2rem 6 rem;
}

.tabby_tail__navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tabby_tail__navbar-links_logo{
    margin-right: 2rem;
    justify-content: flex-start;
}

.tabby_tail__navbar-links_logo img{
   width: 200px;
    height: 200px;
}


.tabby_tail__navbar-links_container{
    display:flex;
    flex-direction: row;
   
}

.tabby_tail__navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.tabby_tail__navbar-links_container p,
.tabby_tail__navbar-sign p,
.tabby_tail__navbar-menu_container p{
    color: black;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
    
}

.tabby_tail__navbar-sign button,
.tabby_tail__navbar-menu_container button {
    

    padding: 0.5rem 1rem;
    color: #fff;
    background: var(--color-bg);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.tabby_tail__navbar-menu{
    margin-left: 1rem;

    display: none;
    position: relative;
}

.tabby_tail__navbar-menu svg{
    cursor: pointer;
}

.tabby_tail__navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);

}

.tabby_tail__navbar-menu_container p{
    margin: 1rem 0;

}

.tabby_tail__navbar-menu_container-links-sign{
    display: none;
}

@media screen and (max-width: 1050px){
    .tabby_tail__navbar-links_container{
        display: none;
    }

    .tabby_tail__navbar-menu{
        display: flex;
    }

}

@media screen and (max-width: 700px){
    .tabby_tail__navbar {
        padding:2rem 4 rem;
    }
}

@media screen and (max-width: 550px){
    .tabby_tail__navbar {
        padding:1rem;
    }

    .tabby_tail__navbar-sign{
        display: none;   
    }

    .tabby_tail__navbar-menu_container{
        top: 20px;
    }

    .tabby_tail__navbar-links_logo img{
        width: 120px;
         height: 120px;
     }

     .tabby_tail__navbar-menu svg{
        cursor: pointer;

        width: 3rem;
        height: 3rem;
    }
    
    .tabby_tail__navbar-menu_container-links-sign{
        display: block;
    }

}